.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: 0.8s all;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2cb;
  margin: 0;
  width: 100vw;
  z-index: 999;
  transition: 0.8s all;
 }

.navbar-white {
  border-radius: 100px;
  background-color: white;
  height: 100px;
  width: 80vw;
}

.navbar-logo {
  width: 250px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul {
  padding: 0;
}

.navbar ul > li {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

a {
  font-size: large;
  color: rgb(91, 148, 148);
  text-decoration: none;
  padding: 16px 16px 0 16px;
  transition: 0.4s ease-in-out;
}

li > a:hover {
  border-bottom: solid 1px #303030;
}

.top {
  top: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-images > a > img {
  border-radius: 4px;
  width: 300px;
}

.dropdown-right {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 25px;
  min-width: 40vw;
  right: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-left {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 25px;
  min-width: 40vw;
  left: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown:hover .dropbtn {border-bottom: solid 1px #303030;}

/*
.dropdown-display {
  display: block;
}
*/
