.module-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30303040;
  z-index: -3;
}

.newsletter-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#news-image {
  height: 496px;
  width: 750px;
}

.news-email-column {
  padding: 3rem;
  background-color: #303030e3;
  height: 400px;
  width: 400px;
}

.news-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.module-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.input-element {
  width: 13rem;
  padding: 1.2rem;
  border-radius: 15px 0 0 15px;
  background-color: #ddd;
  font-size: large;
  color: #303030e3;
}

.module-text {
  font-size: larger;
  color: cadetblue;
}

.submit-button:hover {
  color: white;
  background-color: #303030;
}

.news-module-bg {
  width: 760px;
  height: 320px;
}

.news_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  font-family: cursive;
}

.news_footer span {
  font-size: 20px;
}
