.pf-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  margin-left: 0;
}

.pf-index {
  position: relative;
  left: 10px;
  height: 250px;
  width: 245px;
  background-color: #303030;
  z-index: -1;
}

#pointer {
  width: 0;
  height: 0;
  display: inline-block;
  border: 20px solid transparent;
  border-left-color: white;
  position: absolute;
  top: 60px;
}

.pf-child {
  position: relative;
  left: 10px;
  height: 250px;
  width: 245px;
  background-color: #797979;
  z-index: -20;
  margin-left: 1px;
}

#pointer-child {
  width: 0;
  height: 0;
  display: inline-block;
  border: 20px solid transparent;
  border-left-color: #303030;
  position: absolute;
  top: 60px;
  left: -1px;
}

.inside {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
  position: absolute;
  bottom: 6px;
}

.inside-normal {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;
}

i {
  font-size: 3rem !important;
  color: aliceblue;
  font-weight: 600;
}
