@import "components/prefooter.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  font-size: large;
  color: rgb(91, 148, 148);
  text-decoration: none;
  padding: 16px 16px 0 16px;
  transition: 0.4s ease-in-out;
}

li > a:hover {
  border-bottom: solid 1px #303030;
}

.team-text-section {
  width: 16%;
  text-align: justify;
  padding: 20px;
}

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0px;
  transition: 0.8s all;
}

.top {
  top: 25px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e2e2e2cb;
  margin: 0;
  width: 100vw;
  z-index: 999;
  transition: 0.8s all;
 }

.navbar-white {
  border-radius: 100px;
  background-color: white;
  height: 100px;
  width: 80vw;
}

.navbar-logo {
  width: 250px;
  height: 100px;
  padding-left: 10px;
  padding-right: 10px;
}

.navbar ul {
  padding: 0;
}

.navbar ul > li {
  display: inline-block;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/hero.jpg');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.hero-text-box {
  width: 100%;
  height: 100%;
  background-color: #30303040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-banner h1 {
  font-weight: 700;
  color: white;
}

.btn {
  padding: 15px 35px 15px 35px;
  font-size: large;
  border-radius: 4px;
  border: 1px solid #303030;
}

.btn-cta {
  color: rgb(255, 255, 255);
  background-color: #30303040 ;
}

.btn-cta:hover {
  background-color: #303030e3 ;
}

.dropbtn {
  color: rgb(91, 148, 148);
  padding: 16px 16px 0 16px;
  margin-bottom: 16px;
  font-size: large;
  border: none;
  transition: 2s ease-in-out;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-images > a > img {
  border-radius: 4px;
  width: 300px;
}
.dropdown-content-right {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  padding: 25px;
  min-width: 40vw;
  right: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-left {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  min-width: 40vw;
  left: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-right a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-left a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/*
.dropdown-display {
  display: block;
}
*/

.container-card {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

svg {
  width: 50vw;
}

.card-category {
  margin: 60px 15px 60px 15px;
  width: 28%;
  height: 35vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.module-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30303040;
  z-index: -3;
}

.newsletter-bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#news-image {
  height: 496px;
  width: 750px;
}

.news-email-column {
  padding: 3rem;
  background-color: #303030e3;
  height: 400px;
  width: 400px;
}

.news-heading {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.module-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.input-element {
  width: 13rem;
  padding: 1.2rem;
  border-radius: 15px 0 0 15px;
  background-color: #ddd;
  font-size: large;
  color: #303030e3;
}

.submit-button {
  font-size: large;
  font-weight: 600;
  background-color: #ddd;
  position: relative;
  padding: 19px 35px;
  border-radius: 0 15px 15px 0;
  z-index: 1;
}

.module-text {
  font-size: larger;
  color: cadetblue;
}

.submit-button:hover {
  color: white;
  background-color: #303030;
}

.news-module-bg {
  width: 760px;
  height: 320px;
}

.news_footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.news_footer span {
  font-size: 20px;
}

.pf-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 50px 0;
  margin-left: 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #a5a5a5;
  padding: 8px 0 19px;
  margin-top: 20px;
}

.dropdown-content-right a:hover {background-color: #ddd;}
.dropdown-content-left a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content-right {
  display: block;
}
.dropdown:hover .dropdown-content-left {
  display: flex;
}

.dropdown:hover .dropbtn {border-bottom: solid 1px #303030;}
