@import "components/banner.css";
@import "components/button.css";
@import "components/cards.css";
@import "components/content.css";
@import "components/footer.css";
@import "components/navbar.css";
@import "components/newsletter.css";
@import "components/prefooter.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
